@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {overflow-x: hidden;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; font-family: 'Pretendard'; color:#49494; scroll-behavior: smooth;}
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, option, img, div {margin: 0;padding: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
img, fieldset {border: 0;}
table {width: 100%;border-collapse: collapse;border-spacing: 0px;empty-cells: show;table-layout: fixed;}
legend, caption {visibility: hidden;width: 0;height: 0;line-height: 0;margin: 0;padding: 0;font-size: 0;}
h1, h2, h3, h4, h5, h6, strong, em {font-weight: bold;}
a {color: inherit; display:inline-block; text-decoration: none; box-sizing:border-box;}
button {display:inline-block; background:none; border:0; cursor:pointer;}
ul, ol {list-style: none;}
input, select {vertical-align: middle;}
em, address {font-style: normal;}
img {display:inline-block; vertical-align: top; max-width: 100%;}
select, input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="submit"], input[type="rest"], input[type="button"], textarea {border-radius: 0;background-color: transparent;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.txtBlue {color:#000168;}
.txtGreen {color:#81b500; font-weight:700;}
.hide {position:Absolute; left:-999px; top:-999px; color:rgba(0,0,0,0);}

/* gnb */
.gnb-w {position:relative; padding:0 217px; max-width:1634px; margin:0 auto; box-sizing:border-box;}
    .gnb-logo {position:absolute; left:11px; top:9px; z-index:3; display:flex; align-items:center; max-width:167px; height:100px;  margin:0 auto;}
        .gnb-logo-link {display:inline-block; position:relative; left:-15px;}
            .gnb-logo-link img {}
    .gnbList-w {position:absolute; left:0; top:9px; z-index:2; width:100%; padding-left:217px; box-sizing:border-box;}
        .gnbList-inner {padding-right:100px; display:flex; justify-content:flex-end; align-items:center; max-width:1200px; height:100px; box-sizing:border-box; }
            .gnbList-cont {position:relative; overflow:hidden;}
            .gnb1depthCurrent {overflow:visible;}    
                .gnb1depthCurrent .gnbList-link {font-weight:700;}
                .gnbList-link {display:inline-block; padding:2px 25px; color:#fff; font-size:20px;}
                .gnbList-link:hover {font-weight:700;}
                .gnbSub-w {display:none; position:absolute; left:50%; top:28px; margin-left:-70px; width:140px; padding:10px 0; box-sizing:border-box; background-color:rgba(255,255,255,.85); border-radius:30px 0 30px 0;}
                .gnb1depthCurrent .gnbSub-w {display:block;}
                    .gnbSub-inner {}
                        .gnbSub-cont {position:relative;}
                            .gnbSub-link {padding:5px 10px; color: #000168; font-size:16px; font-weight:400;}
                            .gnbSub-link:hover {font-weight:700;}
                            .gnb2depthCurrent .gnbSub-link {font-weight:700; color:#000168;}
                }
                .gnb-w .gnbSub-cont:first-of-type .gnbSub3depth-list {margin-top:0;}
                .gnb-w .gnbList-cont:nth-of-type(2) .gnbSub-cont:nth-of-type(5) {position:static;}
                .gnb-w .gnbList-cont:nth-of-type(2) .gnbSub-cont:nth-of-type(5) .gnbSub3depth-w {top:11px;}

/*  header */
.gnbSub-cont {}
    .gnbSub-link {position:relative; width:100%;}
    .gnb2depthCurrent .gnbSub-link:after {display:block; content:''; position:Absolute; right:-24px; top:50%; margin-top:-5px; transform:rotate(-180deg); width:10px; height:10px; background-image:url('../imgs/gnbPicker.png'); background-repeat:no-repeat; background-position:center;}
        .gnbSub3depth-w {display:none; position:absolute; left:140px;/*163*/ top:0; width:325px; padding-left:23px;}
        .gnb2depthCurrent .gnbSub3depth-w {display:block;}
        .gnbSub3depth-list {margin-top:-10px; background-color:rgba(255,255,255,.85); padding:10px; box-sizing:border-box;}
            .gnbSub3depth-cont {padding:5px 0; color:#6B6B6B;}
            .gnb3depthCurrent .gnbSub3depth-cont,
            .gnbSub3depth-cont:hover {color:#000168; font-weight:700;}
.menu-trigger {display:none;}

/*.svg-iconHambug {display:inline-block; width:24px; height:19px; background-size:24px auto; background-image: url("data:image/svg+xml,%3C!--%3Fxml version='1.0' %3F--%3E%3Csvg style='color: white' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2 S29.104,22,28,22z' fill='white'%3E%3C/path%3E%3C/svg%3E");}*/

        
        


/* content 공통 */
.manager-w {position:absolute; right:0; top:0; z-index:2; padding:20px; background-color:rgba(0,0,0,.5); color:#fff;}
.content-wrap {position:relative; margin-bottom:150px;min-height:calc(100vh - 317px);}
    .content-inner{position:relative; border-bottom:1px solid #ccc; }
        [class^="content-w-"] {position:relative; padding:0 217px; max-width:1634px; margin:0 auto; box-sizing:border-box;}
            .rightMenu-w {position:absolute; right:0; top:0; width:168px; height:100%;}
           .rightMenu-w:after {display:block; content:''; width:1px; height:100%; position:absolute; left:0; top:0; background-color:rgba(255,255,255,.75);}
               .rightMenu-inner {position:absolute; left:0; top:25%;}
                   .rightMenuList {}
                       .rightMenuList-cont {position:relative; max-width:168px;}
                           .rightMenuList-link {display:inline-block; position:relative; padding:15px 20px; color:#fff; font-size:16px; }
                           .rMenuCurrent .rightMenuList-link:after,
                           .rightMenuList-link:hover:after {display:block; content:''; position:absolute; left:-1.5px; top:15px; width:4px; height:20px; background-color:#fff; }
                           .rightMenuList-link:hover,
                           .rMenuCurrent .rightMenuList-link {font-weight:700;}
                           /* right메뉴-서브메뉴 */
                           .rightMenuSub-w {position:absolute; left:-233px; top:0; z-index:2; padding:10px 0; box-sizing:border-box; width:213px; background-color:rgba(255,255,255,.85);}
                           .rightMenuSub-w:after {display:block; content:''; position:Absolute; right:-10px; top:20px; width:10px; height:10px; background-image:url('../imgs/gnbPicker.png'); background-repeat:no-repeat; background-position:center;}
                               .rightMenuSub-link {padding:5px 10px; width:100%; color:#606060; font-size:14px; text-align:right; font-weight:500; letter-spacing:-0.8px;}
                               .rightMenuSub-link:hover,
                               .rSubCurrent .rightMenuSub-link {color:#000168; font-weight:700;}
            /* contents 비주얼 */
            .contentVisual-w {position:relative; margin:0 auto; box-sizing:border-box;}
                .contentVisual-w [class^="contSection-"] {position:relative;}
                .contSection-left {position:absolute !important; left:-217px; top:0; width:167px; margin-top:10%;}
                    .sloganText-w {position:absolute; left:0; top:0; width:167px; padding:10px 15px; box-sizing:border-box; text-align:right; font-size:20px; line-height:41px; color:#161771; font-weight:500; letter-spacing:-0.6px;}
                        .sloganText-w span {display:block;}
                        .sloganText-w span:last-of-type {line-height:28px;}
                        .sloganText-w:after,
                        .sloganText-w:before {display:block; content:''; position:absolute; right:0; top:0; width:20px; height:20px; border:6px solid #cacaca; border-width:6px 6px 0 0;}
                        .sloganText-w:before {right:auto; top:auto; left:0; bottom:0; transform:rotate(180deg);}
                    /* 퀵메뉴 */
                    .quickMenu-w {display:flex; align-items:center; justify-content:center; position:fixed; left:50%; top:45%; margin-top:-75px; margin-left:-817px; z-index:2; width:167px; height:185px; text-align:left; background-color:#000168; border-radius:30px 0 30px 0;}
                    .quickMenu-w:after {display:block; content:''; width:1px; height:100%; position:absolute; left:30px; top:0; background-color:rgba(255,255,255,.75);}
                        .quickMenu-inner {margin-left:-4px;}
                            .quickMenuList {}
                                .quickMenuList-link {display:inline-block; position:relative; padding:5px 10px 5px 18px; width:100%; color:#fff; font-size:12px; text-transform:uppercase;}
                                .quickMenuList-link:hover:after,
                                .quickMenuCurrent .quickMenuList-link:after {display:block; content:''; position:absolute; left:-1px; top:50%; margin-top:-5px; width:3px; height:10px; background-color:#fff; }
                .contSection-right {}
                    .contentVisual-img-w {position:relative; padding-top:450px; height:0; overflow:hidden; border-radius:80px 0 0 0; }
                        .contentVisual-img-inner {}
                        .contentVisual-img {position:absolute; left:50%; top:0; transform:translateX(-50%); min-height:400px; max-width:none;} 
                        .sectionTitle {position:absolute; left:5%; bottom:10%; display:inline-block; text-transform:uppercase; font-size:48px; color:#fff; font-weight:400; letter-spacing:-1.75px;}
                            .sectionTitle-bg {display:inline-block; padding:0 10px; font-weight:700; background-color:#000168;}
                            .sectionTitle-eng{display:inline-block;}
                    .contentArticle-w {width:100%; padding:50px 78px 150px; box-sizing:border-box; background-color:#EAEAEA;}
                        .contentTitle {font-size:36px; color:#000168; font-weight:600;}
                        .contentTitle span {display:block; margin-top:10px; font-size:24px; word-break:keep-all;}
                
/* 메인 */
.content-w-main {max-width:100%; padding:0;}
.content-w-main .contentVisual-w {position:Relative;}
.content-w-main .contSection-left {left:0;}
.content-w-main .contentVisual-w:after,
.content-inner:after {display:block; content:''; position:absolute; left:50%; bottom:-2.5px; margin-left:-540px; width:21px; height:5px; background-color:#c4c4c4;} 
.content-inner:after {}
    .content-w-main .contentVisual-w {max-width:1634px; margin:0 auto; padding:0 217px; box-sizing:border-box;}
.serviceList {box-sizing:border-box;}
.content-w-main .contSection-right:after,
.serviceList:after {display:block; content:''; width:1px; height:80%; position:absolute; left:0; top:20%; background-color:#c4c4c4;}
.serviceList:after {top:0; height:100%;}
.content-w-main .contentArticle-w {background-color:#fff; padding-left:0; }
    .mainInfo-w {padding-left:5%; line-height:1.6rem; color:#606060;}
    .serviceList-w {width:100%; border-top:1px solid #c4c4c4;}
        .serviceList-inner {max-width:1200px; box-sizing:border-box; margin:0 auto;}
            .serviceList {position:relative; display:flex; justify-content:space-between; padding:9% 0; width:calc(100% + 15px); max-width:1170px;}
                .serviceList-cont {position:relative; width:242px; padding-right:15px; box-sizing:border-box;}
                    .serviceList-link {display:block; }
                        .serviceList-text {display:inline-block; height:40px; line-height:26px; padding-right:15px; box-sizing:border-box; position:absolute; left:0; bottom:5%; width:100%; text-align:center; font-size:20px; font-weight:400; color:#fff; }
                        .serviceList-cont:last-of-type .serviceList-text {height:auto;}
/* ceo */
.ceoInfo-w {display:flex; position:relative; left:-15%; width:115%; box-sizing:border-box;}
    .ceoPhoto-w {flex-shrink:0; max-width:370px; }
        .ceoPhoto-w img {}
    .ceoText {line-height:40px; font-size:18px; color:#6B6B6B;}
    .ceoSign img {display:inline-block; padding-left:5px; width:104px;}
/* history */
.content-w-history .contentArticle-w {padding-right:80px; background-color:#fff;}
    [class^="historyMap-w"] {padding:135px 0; border-top:1px solid #C4C4C4;}
    .historyMap-w:first-of-type {padding-top:0; border-top:0;}
        .historyTitle {display:block; padding-left:30px; height:30px; line-height:30px; position:relative; font-size:27px; color:#000168;}
        .historyTitle:after {display:block; content:''; position:absolute; left:0; top:4px; width:4px; height:21px; background-color:#000168; }
        .historyList-w {margin:70px auto 0;}
            .historyList-inner {position:relative;}
            .historyList-inner:after {display:block; content:''; width:1px; height:100%; position:absolute; left:50%; top:0; background-color:#000168;}
                .historyList-row {position:relative; margin:36px auto 0; text-align:right; }
                .historyList-row:first-of-type {margin-top:0;}
                    .historyList-cont {position:relative; display:flex; justify-content: space-between; align-items:center; }
                    .historyList-cont:after {display:block; content:''; position:absolute; left:50%; top:0;  margin-left:-40px; width:80px; height:100%; background-image:url('../imgs/history-dott.png'); background-repeat:repeat-x; background-position:center;}
                    .historyList-row:after {display:block; content:''; position:absolute; left:50%; top:50%; margin:-4.5px 0 0 -4.5px; border-radius:100%; width:9px; height:9px; background-color:#000168;  font-size:22px;}
                            .historyList-date {display:block; flex-shrink:0; width:50%; text-align:right; padding:0 30px; box-sizing:border-box;}
                                .historyList-date span {display:inline-block; position:relative; z-index:1; width:90px; height:32px; line-height:32px; text-align:center; border-radius:8px; background-color:#000168; color:#fff; font-weight:400; font-size:18px;}
                            .historyListText {position:relative; width:50%; text-align:left; padding-left:30px; box-sizing:border-box; min-height:36px; align-items:center;}
                            .historyListText:After {display:block; content:''; position:absolute; left:25px; top:50%; z-index:1; margin-top:-5px; width:10px; height:10px; transform:rotate(45deg); background-color:#E6E5E3; }
                            .historyList-row:nth-of-type(even) .historyListText:after,
                            .historyMap-w2 .historyList-row:nth-of-type(odd) .historyListText:after {left:auto; right:25px;}
                            .historyMap-w2 .historyList-row:nth-of-type(even) .historyListText:after {left:25px; right:auto;}
                                .historyListText span {position:relative; z-index:1; display:inline-flex; align-items:center; padding:5px 10px; min-width:105px; min-height:36px; background-color:#E6E5E3; color:#000168; border-radius:8px; font-size:16px;}
                            
                /* 정렬변경 */
                .historyList-row:nth-of-type(even) .historyList-cont {flex-direction:row-reverse; text-align: left;}
                    .historyList-row:nth-of-type(even) .historyList-cont {padding-left:0; }
                        .historyList-row:nth-of-type(even) .historyList-date {text-align:left;}
                        .historyList-row:nth-of-type(even) .historyListText {text-align:right; padding:0 30px 0 0; justify-content:end;}
        /* 주요실적(정렬변경) */
        .historyMap-w2 {padding-bottom:100px;}
            .historyMap-w2 .historyList-row:nth-of-type(even) .historyList-cont  {flex-direction:row; text-align:right;}
            .historyMap-w2 .historyList-row:nth-of-type(odd) .historyList-cont {flex-direction:row-reverse; text-align: left;}
                .historyMap-w2 .historyList-row:nth-of-type(even) .historyListText {padding:0 0 0 30px;}
                .historyMap-w2 .historyList-row:nth-of-type(even) .historyListText,
                .historyMap-w2 .historyList-row:nth-of-type(odd) .historyList-date {text-align:left; display:flex; justify-content:left;}
                .historyMap-w2 .historyList-row:nth-of-type(odd) .historyListText {text-align:right; padding:0 30px; justify-content:end;}
                .historyMap-w2 .historyList-row:nth-of-type(even) .historyList-date {text-align:right;}
                    .historyListIText-sub {margin-left:8px; font-size:12px; color:#6B6B6B; line-height:20px;}
                    .historyListIText-sub li {position:relative; padding-left:7px; }
                    .historyListIText-sub li:after {display:block; content:''; position:Absolute; left:0; top:9px; width:2px; height:2px; border-radius:100%; background-color:#6B6B6B;}
    .historyInfoText-w {position:relative; text-align:center; width:100%; height:0; padding-top:65.3%; background-image:url('../imgs/historyInfo-bg.png'); background-repeat:no-repeat; background-size:auto 100%; background-position:center;}
        .historyInfoText-inner {position:Absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:100%; padding-top:7%; box-sizing:border-box;}
            .historyInfoText {display:inline-block; padding:15px 0; font-size:24px; line-height:45px; color:#000168;  word-break: keep-all; background-color:rgba(255,255,255,.5);}


/*  조직도 */
.content-w-orgChart {}
    .content-w-orgChart .contentArticle-w {font-size:20px; line-height:32px; color:#000168;}
        .orgChartList-w {padding:115px 168px 150px 80px;}
        .orgChartList:after {display:block; content:''; width:1px; height:calc(100% - 60px); position:Absolute; left:140px; top:0; background-color:#000168;}
            .orgChartList {position:relative;}
                .orgChartList-inner {}
                    .orgChartList-cont {position:relative; margin-top:72px; padding-left:380px; min-height:48px; }
                    .orgChartList-cont:after {display:block; content:''; width:380px; height:100%; position:absolute; left:0; top:0; background-image:url('../imgs/history-dott.png'); background-position:left; background-repeat:repeat-x;}
                        .orgChartList-cont:first-of-type:before {display:block; content:''; width:9px; height:9px; position:absolute; left:136px; top:20px; border-radius:100%; background-color:#000168; }
                        [class^="orgChartList-value"] {display:block; text-align:center; position:Absolute; left:0; top:50%; margin-top:-24px;}
                            .orgChartList-label {position:relative; z-index:1; display:inline-flex; align-items:center; justify-content:center; margin:0 auto; padding:0 20px; box-sizing:border-box; width:270px; height:43px; text-align:center; border-radius:8px; background-color:#000168; color:#fff; font-size:22px; font-weight:500;}
                            .orgChartList-text {display:inline-block; max-width:805px; position:relative; z-index:1; padding:10px; box-sizing:border-box; font-size:20px; text-align:left; border-radius:8px; color:#000168; background-color:#E6E5E3; word-break:keep-all;}
                            .orgChartList-valueCEO {display:block; position:static; width:280px;}
                                .orgChartList-valueCEO .orgChartList-label {width:156px !important;}
                    .orgChartList-cont:first-of-type {display:inline-block; padding-left:465px;}
                      .orgChartList-cont:first-of-type:after {display:block; content:''; position:absolute; left:140px; top:24px; width:130px; height:1px; background-color:#000168; background-image:none;}
                          .orgChartList-cont:first-of-type .orgChartList-value {left:auto; right:0;}
                              .orgChartList-cont:first-of-type .orgChartList-label {width:195px;}
/* 오시는길  */
.content-w-directions {}
    .content-w-directions .contentArticle-w{font-size:18px; line-height:30px; color:#000168;}
        .map-w {max-width:1195px; }
        .directionsList-w {margin-top:48px;}
            .directionsList-inner {}
                .directionsList-cont {position:relative; padding-left:15px;}
                    .directionsList-cont:after {display:block; content:''; width:6px; height:6px; position:Absolute; left:0; top:12px; background-color:#000168; border-radius:100%; }
                    .directionsList-tel {display:flex;}
                        .directionsList-num {display:inline-block; margin-right:25px;}

/* 장비임대 사업부 - 건설장비 */
.tableImage-w {display:flex; justify-content:flex-start; margin-top:70px; width:calc(100% + 50px);}
    .tableWideType {width:100% !important; max-width:100% !important;}
    .tableImage-cont {padding-right:50px; box-sizing:border-box; width:50%; max-width:740px;}
    .tableImage-cont:first-of-type {max-width:516px;}
        .tableImage-img {display:inline-block; width:100%; max-width:auto;}
/* 장비임대 사업부 - 부속장비 */
.rentalList-w {margin-top:8px;}
    .rentalList-inner {display:flex; justify-content: flex-start; flex-wrap:wrap; width:104.5%;}
        .rentalList-cont {width:33.3%; padding:55px 4.5% 0 0; box-sizing:border-box;}
        .rentalList-cont:last-of-type {width:66.6%;}
/* 도장 사업부 - 현황 */
.paintList-w {padding-top:50px; width:100%;}
    .paintList-inner {display:flex; justify-content:left; flex-wrap:wrap; width:100%;}
        .paintList-cont {width:376px; flex-shrink:0; margin-top:2%;}
            .paintList-cont img {width:auto;}
            .paintList-cont:nth-of-type(1) img{width:282px; max-width:282px;}
            .paintList-cont:nth-of-type(2) img{width:365px; max-width:365px;}
            .paintList-cont:nth-of-type(3) img{width:332px; max-width:332px;}
            .paintList-cont:nth-of-type(4) img{width:233px; max-width:233px;}
    .dbdottDetail-w,
    .detailList-w {margin-top:70px; text-align:center; width:100%;}
        .dbdottDetail-title,
        .detailList-title {display:inline-block; position:relative; margin:0 auto; padding:0 24px; height:35px; line-height:35px; box-sizing:border-box; border-radius:27px; text-align:center; color:#fff; background-color:#000168; font-size:22px;}
        .detailList-title:after,
        .detailList-title:before {display:block; content:''; position:absolute; top:50%; left:-10px; margin-top:-8px; width:14px; height:17px; background-repeat:no-repeat; background-position:center; background-image:url('../imgs/titlePicker.png')}
        .detailList-title:after {left:auto; right:-10px; transform:rotate(180deg);}
        .dbdottDetail-inner,
        .detailList-inner {margin-top:30px; padding:30px 9%; border-top:2px solid #000168; border-radius:0 0 40px 40px; background-color:#fff; color:#494949;}
            .dbdottDetail-list {text-align:left;}
                .dbdottDetail-inner { padding:5% 9% 5%; }
                    .dbdottDetail-cont {display:block; margin-top:20px; padding-left:25px; min-height:20px; position:relative; color:#000168; font-weight:700; font-size:16px; line-height:22px; box-sizing:border-box; letter-spacing:-0.25px;}
                    .dbdottDetail-cont:first-of-type {margin-top:0;}
                        .dbdottDetail-cont:after {display:block; content:''; width:16px; height:16px; position:absolute; left:0; top:2px; background-repeat:no-repeat; background-size:16px auto; background-position:center; background-image:url('../imgs/dbdott.png');}
/* 도장 사업부 - 설비 */
.imgList-w {}
    .imgList-inner {display:flex; flex-wrap:wrap; width:104.5%; padding-top:10px;}
        [class^="imgList-cont"] { padding:4.5% 4.5% 0 0; box-sizing:border-box;}
        .imgList-cont {width:40%;}
        .imgList-cont25 {width:25%;}
        .imgList-cont33 {width:25%;}
        .imgList-cont33 {width:33.3%;}
        .imgList-cont5 {width:50%;}
        .imgList-cont6 {width:60%;}
            .imgList-w img {max-width:auto; width:100%;}
/* 가설재 사업부 */
.meterialTable-w {margin-top:105px; width:80%; }
    .meterialTable-cont {}

/* 환경사업부 - 드럼스크린 */
.detailList-wrap {padding-top:50px; }
    .detailList-w {margin-top:55px; position:relative;}
        .detailList-title-w {position:absolute; left:0; top:-21px; text-align:center; width:100%;}
            .detailList-title {}
        .detailList-inner {margin-top:0; padding:7% 10% 5%;}
            .detailList-inner ol {max-width:250px; margin:0 auto; text-align:left;}
                .detailList-inner ol li {margin-top:5px; }
                .detailList-inner ol li:first-of-type {margin-top:0;}
        .evniRepair {padding:7% 5% 5%;}
/* 환경사업부 - 환경관련 사업현황 */
.environmentalList-inner {display:flex; flex-wrap:wrap;}
.content-w-envi01 .detailList-title-w {top:-18px;}
/* 환경사업부 - 튜브식 소독기 소개 */
.content-w-envi03 .contentArticle-w {padding-right:8%;}
.content-w-envi03 .textNimgList-w {width:calc(100% + 30px);}
.content-w-envi03 .textNimgList-inner {padding-right:30px;}
.content-w-envi03 .textNimgText-inner {max-width:90%;}
.infoTable-w {margin-top:100px; width:100%;}
    .infoBgTitle-w {text-align:center; }
        .infoBgTitle {display:inline-block; margin-bottom:5px; padding:5px 10px; background-color:#000168; color:#fff; font-size:24px;}
        .infoBgTitleSub {display:block; margin-top:5px; font-size:20px; color:#000168;}
        .infoTable-w table,
        .boardList-w table {margin-top:35px; background-color:#fff; border-radius:12px 12px 0 0; overflow:hidden; }
            .infoTable-w table th,
            .boardList-w table th  {height:41px; background-color:#000168; color:#fff; font-size:16px; text-align:center; border-left:1px solid #fff;}
            .infoTable-w table th:first-of-type,
            .boardList-w table th:first-of-type  {border-left:0;}
            .infoTable-w table td,
            .boardList-w table td {padding:20px 10px; text-align:center; border-left:1px solid #000168; color:#494949; cursor:pointer;}
            .infoTable-w table td:first-of-type,
            .boardList-w table td:first-of-type {border-left:0;}
    .boardList-w {position:relative; }  
        .boardList-inner {}        
            .boardList-w table tr:nth-of-type(even) {background-color:rgba(169,169,190,.3);}
                .boardList-w table td {padding:0px;}   
                    .boardList-w td span {display:block; padding:10px; word-wrap:break-word;}
                    .boardList-w table tr:hover {font-weight:700;}
                    .infoTable-w table td span,
                    .boardList-w table td span, {display:inline-block; text-align:left; font-size:16px; line-height:22px; letter-spacing:-0.26px;}
        .tubeInfo-img-w {margin:60px auto 0; max-width:95%; display:flex; justify-content: center; align-items: center;}
        .tubeInfo-img-w .arrow {display:block; width:144px; height:75px;}
.content-w-envi04 .textNimgList-inner:first-of-type .detailList-image-w {padding:0;}

/* 환경사업부 - 소독기부품 */
.lampList-w {margin-top:70px; text-align:center;}
    .content-w-envi09 .detailList-w {margin:40px auto 0; position:relative; left:-5px; width:calc(100% - 30px);}
    .lampList-inner {margin-top:85px;}
    .lampList-inner:first-of-type {margin-top:50px;}
        .lampList-cont {margin-top:35px;}
        .lampTable-img {margin-top:30px;}
/* 모듈 : 이미지+리스트 조합 */
.textNimgList-w {margin-top:10%; width:calc(100% + 50px); display:flex; justify-content:space-between;}
    .textNimgList-inner {display:flex; flex-wrap:wrap;  max-width:50%; min-width:50%; padding-right:50px; box-sizing:border-box; }
        .textNimgList-cont {display:flex; flex-wrap:wrap; width:100%; position:relative; margin-top:23px; height:100%; background-color:#fff; border-top:2px solid #000168; border-radius:0 0 36px 36px;}
            .textNimgList-cont .detailList-title {position:relative; z-index:1; height:38px; border-radius:20px; line-height:38px; font-size:24px;}
            .detailList-image-w {text-align:center; width:100%; padding:0 10px; box-sizing:border-box; display:flex; align-items: center;}
                .textNimgList-cont img {margin:45px auto;}
        .splitRow2 {height:auto;}
        .splitRow2 + .splitRow2 {margin-top:45px;}
            .textNimgText-w {padding:30px 5%;  width:100%; box-sizing:border-box; background-color:rgba(174,174,195,.3); border-radius:0 0 36px 36px;}
                .textNimgText-title {display:block; margin:15px 0; text-align:center; font-size:18px; color:#000168; font-weight:700;}
                .textNimgText-inner {font-size:16px; margin:0 auto; max-width:97%;}
                    .textNimgText-inner li {margin-top:5px; position:relative; padding-left:12px; line-height:20px; font-size:14px; color:#494949; letter-spacing:-0.7px;}
                    .textNimgText-inner li:first-of-type {margin-top:0;}
                    .textNimgText-inner li:after {display:block; content:''; position:absolute; left:0; top:7px; width:5px; height:5px; background-color:#494949; border-radius:100%;}
/* 모듈 : 페이징리스트  */
.boardBtnList-w {margin-top:50px; display:flex; justify-content:center; width:100%; flex-wrap:wrap;}
    .boardBtnList-inner {}
        .boardBtnList {display:flex;}
            .boardBtnList-cont {display:inline-block; padding:0 3px;}
                .boardBtnList-num {display:inline-block; width:25px; height:25px; line-height:25px; text-align:center; color:#494949; font-size:16px; background-color:#fff;}
                .pagingCurrent .boardBtnList-num {background-color:#00096F; color:#fff;}
    .boardList-w .moduleBtn-w {text-align:right;}          
        .boardList-w .roundBtn {height:45px; line-height:45px; font-size:24px;}
.boardBtnList-w [class^="arrowBtn-"] {display:inline-block; padding:0 20px; cursor:pointer;}
.arrowBtn-next img {transform:rotate(180deg);}

/* 모듈 : 이미지+리스트(리스트 와이드형) */
.listWideType {display:block; width:100% !important; max-width:100% !important;}
    .listWideType .textNimgList-inner {padding-right:0; max-width:100%;}
    .listWideType .textNimgList-inner + .textNimgList-inner {margin-top:53px;}

/* 모듈 : 이미지+리스트(리스트 가로형) */
.listRowType .textNimgList-cont {justify-content:space-between;}
.listRowType .detailList-image-w {width:55%; }
    .listRowType .textNimgText-w {display:flex; align-items:center; padding-right:3%; width:45%; border-bottom-left-radius:0; position:relative;}
    .listRowType .textNimgText-w:after {display:block; content:''; position:absolute; left:-15px; top:50%; margin-top:-15px; width:30px; height:30px; background-color:#fff; transform:rotate(45deg);}
        .listRowType .textNimgText-inner {max-width:90%;}
/* 컨테이너사업-운용대수현황 */
.content-w-contain01 .contentVisual-img-w,
.content-w-ceo .contentVisual-img-w,
.content-w-history .contentVisual-img-w,
.content-w-orgChart .contentVisual-img-w,
.content-w-directions .contentVisual-img-w,
.content-w-rental01 .contentVisual-img-w,
.content-w-envi01 .contentVisual-img-w,
.content-w-contact .contentVisual-img-w,
.content-w-contactEnd .contentVisual-img-w,
.content-w-contactPw .contentVisual-img-w,
.content-w-notice .contentVisual-img-w,
.content-w-noticeEnd .contentVisual-img-w,
.content-w-main .contentVisual-img-w,
.content-w-paint01 .contentVisual-img-w {padding-top:600px; }
.content-w-contain02 .tableImage-cont:first-of-type {max-width:100%; width:100%;}
/* 컨테이너-투명돔하우스 */
.content-w-contain10 .contentArticle-w  {position:relative;}
.content-w-contain10 .contentArticle-w:before,
.content-w-contain10 .contentArticle-w:after {display:block; content:''; width:367px; height:256px; position:absolute; left:0; top:0; background-image:url('../imgs/contain10-bg-left.png'); background-repeat:no-repeat; background-size:100% auto;}
.content-w-contain10 .contentArticle-w:after {left:auto; right:0; top:auto; bottom:0; width:452px; height:316px; background-image:url('../imgs/contain10-bg-right.png');}
.content-w-contain10 .dbdottDetail-inner {width:100%; box-sizing:border-box;}
.intorText-w {margin-bottom:50px; padding-top:50px; position:relative; z-index:2; }
    .intorText-title {font-size:16px; font-weight:700; color:#000168;}
    .intorText-inner {margin-top:10px; color:#767676; font-size:14px; line-height:21px;}
    .intorText-inner strong {display:inline-block; margin-right:5px;font-weight:700; color:#000168; }
/* 컨테이너-컨테이너형리조트 */
.containerList-w {margin-top:95px;}
/* 견적문의 */
.contactTitle {display:block; text-align:left; font-size:36px; color:#000168; font-weight:700;}
    .contactForm-w {}
        .contactForm-row {display:flex; margin-top:34px; width:calc(100% + 42px); align-items:flex-end;}
            .contactForm-cell {width:100%; padding-right:42px; box-sizing:border-box; position:relative;}
                .contactForm-cell label {display:block; margin-bottom:15px; text-align:left; font-size:16px; color:#000168; font-weight:700;}
                .contactForm-cell input {display:block; width:100%; height:45px; line-height:45px; box-sizing:border-box; padding:0 10px; border:0; background-color:rgba(169,169,190,.3); color:#494949; font-size:18px;}
                .contactForm-dash {position:absolute; right:0; bottom:0; width:42px; height:45px; line-height:45px; text-align:center; font-size:24px; color:#000168; font-weight:700;}
        .textArea {resize:none; display:block; padding:10px; box-sizing:border-box; width:100%; height:355px; font-weight:700; overflow:hidden; overflow-y:auto; font-size:18px; line-height:26px; border:0; background-color:rgba(169, 169, 190, .3); color:#494949;}
        .textArea::-webkit-scrollbar {width:10px; background:rgba(0,0,0,0);}
        .textArea::-webkit-scrollbar-thumb {background:#A9A9BE; width:10px; border-radius:5px;}
        .moduleBtn-w {display:flex; width:100%; text-align:center; margin-top:50px;}
            [class^="bdlineBtn"],
            .content-w-contactPw .roundBtn {display:inline-block; min-width:200px; height:45px; line-height:45px; padding:0 25px; font-size:24px; font-weight:700; text-align:center; border-radius:27px; border:1px solid #00096F; background-color:#fff; box-sizing:border-box; color:#00096F;}
            .roundBtn {display:inline-block; padding:0 25px; height:55px; line-height:55px; text-align:center; background-color:#00096F !important; border-radius:27px; font-size:36px; font-weight:700; color:#fff !important;}
        /* 자동입력 방지 */
        .captchaType {flex-wrap:wrap;}
            .captchaType .contactForm-cell:first-of-type {width:40%;}
            .captcha-box {display:flex; align-items:center; margin-bottom:5px;}
/* 견적문의 리스트  */
.boardList-w .moduleBtn-w {justify-content:flex-end;}

/* 비밀번호 확인 */
.passwordCheck-w {padding:100px 0; box-sizing:border-box;}
    .passwordCheck-inner {text-align:center;}
        .passwordCheck-label {display:block; width:100%; font-size:24px; color:#000168; font-weight:700;}
        .passwordCheck-label br {display:none;}
        .passwordCheck-ip {display:inline-block; margin-top:50px; max-width:296px;  width:100%; height:45px; box-sizing:border-box; background:rgba(169, 169, 190, .3) !important; border:0;}
    .passwordCheck-w .moduleBtn-w {display:flex; justify-content: center;}
        .passwordCheck-w .moduleBtn-inner {padding:0 3%; box-sizing:border-box;}


/* 공지사항 리스트  */
.content-w-notice table tr td:nth-of-type(2) {text-align:left; }
.content-w-notice table tr td:nth-of-type(2) span {padding:10px 20px;} 
/* 공지사항 상세  */
.boardDetail-w {}
    .boardDetail-writer {display:flex; flex-wrap:wrap; align-items:center; width:100%; margin-top:100px; font-size:18px; color:#000168;}
        .writerName {display:inline-block; padding-right:20px;}    
        .writerDate {display:inline-block; padding-right:20px;}
        .userProfile-w {display:flex; flex-wrap:wrap; align-items:center; width:100%; margin-top:15px;}
            .userProfile-text {display:inline-block; position:relative; padding:0 24px; font-size:18px; color:#494949;}
            .userProfile-text:after {display:block; content:''; position:absolute; left:0; top:50%; margin-top:-8px; width:1px; height:16px; background-color:#707070;}
            .userProfile-text:first-child {padding-left:0; }
            .userProfile-text:first-child:after {display:none;}
        .boardDetail-writer .moduleBtn-w {margin-top:0;}
            .boardDetail-writer button {min-width:80px; height:30px; line-height:30px; padding:0 10px; box-sizing:border-box; font-size:18px; border-radius:15px; color:#00096F;}
    .boardDetail-inner {display:flex; width:100%; padding-bottom:45px; margin-top:45px; border-bottom:1px solid #c4c4c4;}  
        .boardDetail-title {display:block;font-size:24px; color:#000168; font-weight:700;}
        .boardDetail-value {display:inline-block; width:40px; flex-shrink:0; font-size:24px; font-weight:700; color:#000168;}
        .boardDetail-text {width:100%; color:#494949; line-height:32px; font-size:18px;}
    .boardDetail-comment-w {position:relative;}
        .boardDetail-comment-w .boardDetail-inner {border-bottom:0;}
        .boardDetail-comment-w .boardDetail-value {color:#494949;}
    .content-w-contactEnd .moduleBtn-w,
    .content-w-noticeEnd .moduleBtn-w {text-align:left;}
    .content-w-contactEnd .roundBtn,
    .content-w-noticeEnd .roundBtn {font-size:24px; height:45px; line-height:45px;}
    .content-w-contactEnd .moduleBtn-w {display:flex; justify-content:space-between;}
    .content-w-contactEnd [class^="bdlineBtn"] {min-width:auto;}
    .content-w-noticeEnd .moduleBtn-w {justify-content:space-between;}
        .content-w-noticeEnd .bdlineBtn {min-width:Auto;}
        .content-w-noticeEnd .moduleBtn-inner .bdlineBtn {margin-left:20px;}


/* footer */
.footer-w {background-color:#000074;}
    .footer-inner {max-width:1634px; margin:0 auto; position:relative; padding:29px 0 35px 387px; box-sizing:border-box;}
        .footerLogo {position:absolute; left:217px; top:50%; margin-top:-45px;}
            .footerLogo-link {display:block; width:90px;}
        .footerList-w {display:flex; justify-content:flex-start;}
            .footerList-left {}
            .footerList-right {margin-left:82px;}
                [class^="footerList-inner"] {padding:15px 20px 0 0; color:#fff; font-size:16px;}
                .footerList-inner {clear:both;}
                .footerList-inner2 {float:left;}
                    .icon-spot {display:inline-block; width:15px; margin-right:12px;}


/* 모바일 Gnb */
.mGnb-w {display: none; }

/* 1636 이하  */
@media screen and (max-width:1636px) {
    [class^="content-w-"],
    .content-w-main .contentVisual-w {padding-right:0;}
    .gnbList-inner {max-width:100%;}
    .quickMenu-w {left:0; margin-left:0;}
    .serviceList-w {padding-left:217px;}
        .serviceList-inner {margin:0;}

    
}
@media screen and (max-width:1400px) {
    .serviceList-w {box-sizing:border-box; }
    .serviceList-cont {width:20%;}

}

/* 1170 이하 일부요소 제어 */
@media screen and (max-width:1200px) {
    .quickMenu-w {left:0; margin-left:0;}
    .menu-trigger {display:block; top:30px; width:24px; height:19px; /*padding:20px;*/ z-index:99; position:absolute; right:33px; top:50px; }
    .menuOpen .menu-trigger {display:block;}
    .menu-trigger, .menu-trigger span {display:inline-block; transition:all 0.4s; box-sizing:border-box;}
    .menu-trigger span {position: absolute; left:0; width:100%; height:2px; background-color:#fff;}
    .menu-trigger span:nth-of-type(1){top:0;}
    .menu-trigger span:nth-of-type(2){top:8px;}
    .menu-trigger span:nth-of-type(3){bottom:0;}
    .menu-trigger.active span {background-color:#000168;}
    .menu-trigger.active span:nth-of-type(1) {transform:translateY(9px) rotate(-45deg); -webkit-transform:translateY(9px) rotate(-45deg);}
    .menu-trigger.active span:nth-of-type(2) {left:50%; opacity:0; animation:active-menu-bar05 .8s forwards;}
    .menu-trigger.active span:nth-of-type(3) {transform:translateY(-8px) rotate(45deg); -webkit-transform:translateY(-8px) rotate(45deg);}
    .gnbList-inner,
    .contSection-left {display:none;}
    .gnb-logo,
    .gnbList-w {top:0;}
    .gnb-logo {max-width:185px; top:21px; left:32px;}
    .gnb-logo-link {left:0;}
    [class^="content-w-"] {padding-left:0;}
    .gnb1depthCurrent .gnb2depthCurrent .gnbSub3depth-list {background:none;}
    /* 전체메뉴  */
    .menuOpen {position:fixed; left:0; top:0; z-index:9; width:100%; height:435px; padding:0; background-color:#fff;}
    .menuOpen .gnbList-inner {position:absolute; right:0; top:0; display:block; width:306px; height:100%; padding:50px 0 0; background:#EBEBEB;}
    .menuOpen .gnbList-cont {display:flex; width:100%; text-align:right; padding-right:100px; box-sizing:border-box;}
        .menuOpen .gnbList-1depth {width:100%;}
            .menuOpen .gnbList-link {display:block; width:100%; color:#000168; padding:5px 25px; font-size:18px;}
            .menuOpen .gnbSub-link {width:100%; padding-right:100px;}
                .menuOpen .gnbSub-inner {text-align:right;}
    .menuOpen .gnbSub-w,
    .gnb2depthCurrent .gnbSub-link:after {display:none;}
    .gnb1depthCurrent .gnbSub-w {display:block;}
    .menuOpen .gnbSub-w,
    .menuOpen .gnbSub3depth-w {left:auto; right:0; margin-left:0; background:none;}
    .menuOpen .gnbSub-w {right:306px; top:0; padding:0; margin:50px 0 56px; width:306px; height:calc(100% - 106px); border-radius:0; border-left:1px solid #CBCBCB; background:none;}
    .menuOpen .gnbSub3depth-w {height:100%;}
    .menuOpen .gnbList-cont {position:static; }
    .menuOpen .gnbSub3depth-w {right:305px; padding:0;}
    .menuOpen .gnbSub3depth-cont {padding-right:30px; font-size:14px;}
    /* 푸터  */
    .footer-inner {max-width:945px; padding-left:170px;}
        .footerLogo {left:0;}
    /* 메인  */
    .manager-w {top:100px;}   
    .content-w-main .contentVisual-w,
    .serviceList-w {padding:0 !important;}
        .serviceList {padding:9% 15px; }
    /* ceo */
    .ceoInfo-w {left:auto; width:100%;}
    .ceoPhoto-w {position:relative; left:-30px;}

}

/* Mobile 버전 */
@media screen and (max-width:1040px) {
    .manager-w {top:80px;}
    .content-wrap {min-height:calc(100vh - 388px);}
    /* 메인 */
    .serviceList-inner {padding:0 5%; width:100%; max-width:100%;}
    .serviceList:after  {display:none;}
    .contentArticle-w {max-width:100%; width:100%; padding:8% 5%;}
    .serviceList {flex-wrap:wrap; justify-content: center; max-width:805px;}
        .serviceList-cont {padding-bottom:20px; width:220px;}
        .serviceList-text {bottom:13%;}
    /* 공통 */
    .gnb-w,
    .contSection-left,
    .rightMenu-w {display:none;}
    .contentVisual-w {padding-left:0;}
    /* 모바일 Gnb, 공통레이아웃 */
    .mGnb-w {display:block;}
        .mGnb-allMenu {position:fixed; right:-9999px; top:0; z-index:9; width:100%; height:100vh; padding-top:130px; box-sizing:border-box; overflow:hidden; overflow-y:auto; background-color:#000B6F; transition:all .4s ease-in-out;}
        .mGnb-w .menu-trigger {top:16px; right:17px;}
                .mGnb-w .menu-trigger span {background-color:#000168;}
                .allMenuOpen .menu-trigger span {background-color:#fff;}
        .allMenuOpen .mGnb-allMenu {right:0;}
            .mGnb-w .gnbList-inner {display:block; height:auto; padding-right:0;}
                .mGnb-w .gnbList-w {position:static; padding-left:0; text-align:center; padding-bottom:90px;}
                    .gnbList-1depth {position:relative;}
                    .mGnb-w .gnbList-link {display:block; width:100%; text-align:center; padding:12px; position:relative;}
                        [class^="btnSubOpen"] {position:absolute; right:0; top:0; width:60px; height:48px;}
                            .iconArrow,
                            .iconArrow2 {display:inline-block; position:absolute; right:50%; top:50%; margin:-4px -7px 0 0; width:14px; height:8px; background-repeat:no-repeat; background-size:14px auto; background-image:url('../imgs/m/iconArrow-wh.png');}
                            .gnb1depthCurrent .iconArrow,
                            .gnb2depthCurrent .iconArrow2 {transform:rotate(180deg);}
                    .mGnb-w .gnbSub-w {display:none; position:static; width:100%; border-radius:0; margin:0; background-color:#fff;}
                        .gnbSub-link-w {position:relative; height:59px; transition:all ease-in-out 0.3s;}
                            .mGnb-w .gnbSub-link {padding:20px 12px; background-color:#EFEFEF; width:100%; text-align:center; box-sizing:border-box;}
                                .gnbSub-link-w .btnSubOpen {height:59px; background-color:#efefef;}
                                    .iconArrow2 {background-image:url('../imgs/m/iconArrow-bl.png');}
                    .mGnb-w .gnbSub3depth-w {display:none; position:static; left:0; top:0; background:none; }       
                    .mGnb-w .gnb1depthCurrent .gnbSub-w,
                    .mGnb-w .gnb2depthCurrent .gnbSub3depth-w {display:block; padding:0; text-align:center; width:100%;}
                        .mGnb-w .gnbSub3depth-cont {padding:15px 12px; display:block; box-sizing:border-box; width:100%;}
            .btnCloseX {display:block; position:absolute; right:0; top:36px; padding:20px; cursor:pointer;}
                .iconCloseX {display:block; width:16px; height:16px; background-size:16px; background-image:url('../imgs/m/closeX.png'); background-repeat:no-repeat;}
     /* 모바일 헤더 */
    .mHeader-w {position:relative; height:50px; margin-top:30px; box-sizing:border-box; background-color:#fff; }
        .mheaderLogo {display:inline-block; width:51px; height:53px; position:absolute; left:50%; top:50%; margin:-27px 0 0 -25px; overflow:hidden;}
            .mheaderLogo-link {display:inline-block; position:relative; width:100%; height:100%;}
                .mheaderLogo-link img {width:71px; position:Absolute; left:0; top:0; max-width:71px;}
        .mGnb-open {display:block; position:absolute; right:0; top:0; width:67px; height:50px; cursor:pointer;}
            .iconHambug {width:21px; height:15px; }
        .stepPrev {display:inline-block; width:46px; height:50px; position:absolute; left:0; top:0;}
            .iconPrevArrow {display:inline-block; width:10px; margin:0 auto;}
    /* 모바일 공통 */
    .sectionTitle {font-size:34px;}
    .sectionTitle-eng {display:block; font-size:34px; margin-top:7px;}
    /* 모바일 푸터 */
    .footer-w {margin-top:0;}
        .footerList-w {justify-content:space-around;}
            .footer-inner {padding:20px 20px 35px;}
                .footerLogo {display:none;}
                .footerList-right {margin-left:0;}
    /* ceo */
    .ceoInfo-w {left:0; width:100%;}
    .ceoPhoto-w {position:relative; left:-20px;}
        .ceoText {line-height:36px; }
    /* history */
    .historyListText {display:block !important;}
    .historyList-row:nth-of-type(even) .historyListText,
    .historyMap-w2 .historyList-row:nth-of-type(odd) .historyListText  {padding:0 30px 0 0;}
    .historyMap-w2 .historyList-row:nth-of-type(even) .historyListText,
    .historyList-row:nth-of-type(odd) .historyListText {padding:0 0 0 30px;}
    .etcRow .historyListText {position:relative;}
    .etcRow .historyListIText-sub {position:absolute; left:15px; top:50px;}
    .etcRow + .historyList-row {margin-top:70px;}
    .historyInfoText-w {padding-top:100%;}
        .historyInfoText {font-size:20px; line-height:34px;}
    [class^="historyMap-w"] {padding:60px 0;}
    .historyMap-w2 {padding-bottom:60px;}
    /* 조직도 */
    .orgChartList-w {padding-left:5%; padding-right:5%;}
    .orgChartList-label,
    .orgChartList-valueCEO {width:195px; font-size:18px;}
    .orgChartList-cont {padding-left:40%;}
    .orgChartList:after {left:100px;}
    .orgChartList-cont:first-of-type {padding-left:390px;}
    .orgChartList-cont:first-of-type:before {left:97px;}
    .orgChartList-cont:first-of-type:after {left:97px;}
    /* 연혁  */
    .content-w-history .contentArticle-w {padding-right:5%;}
    /* 장비사업부-건설장비보유현황 */
    .contentTitle,
    .contentTitle span {font-size:22px;}
    .tableImage-w {width:calc(100% + 50px);}
    /* 장비사업부-부속장비현황 */
    .rentalList-inner,
    .imgList-inner {max-width:calc(100% + 30px); width:calc(100% + 30px);}
    .rentalList-cont,
    [class^="imgList-cont"] {padding:30px 30px 0 0;}
    /* 컨테이너사업-사업부 */
    .dbdottDetail-w, .detailList-w {width:100%;}
    /* 컨테이너-일반컨테이너 */
    .imgList-inner {padding-top:20px;}
    .content-w-contain02 .tableImage-cont:first-of-type {width:100%;}
    /* 컨테이너사업부-스크린골프/노래방 */
    .historyTitle {font-size:20px; padding-left:18px;}
    /* 컨테이너사업-투명돔하우스 */
    .content-w-contain10 .contentArticle-w:before {width:267px; height:185px;}
    .content-w-contain10 .contentArticle-w:after {width:352px; height:245px;}
    .tableWideType {max-width:100% !important;}
    /* 환경사업부-튜브식소독기 */
    .infoTable-w {width:100%;}
    .content-w-envi02 .infoBgTitle {margin-bottom:15px;}
    /* 환경사업부-관로형 튜브식 소독기 */
    .textNimgList-w {max-width:calc(100% + 50px); width:calc(100% + 50px);}
    /* 환경사업부-소독기부품 */
    .lampList-w {max-width:100%;}
    .infoBgTitle {font-size:22px;}
    /* 견적문의 */
    .contactTitle {font-size:32px;}
    .roundBtn{font-size:28px;}

}

/* Mobile 버전 */
@media screen and (max-width:768px) {
    .content-wrap {min-height:calc(100vh - 406px);}
    /* 메인 */
    .serviceList {flex-wrap:wrap; justify-content: center; max-width:805px;}
           .serviceList-cont {padding-bottom:20px; width:33.3%;}
            .serviceList-text {font-size:18px;}
    .contentVisual-img-w .slick-dots button {width:12px; height:12px;}
    .footer-inner {padding:28px 20px 37px;}
    .contentArticle-w {padding:50px 20px;}
    .sectionTitle {left:20px;}
        .footerList-w {display:block; max-width:500px;}
            .footerList-w [class^="footerList-inner"] {display:flex; flex-wrap:wrap; box-sizing:border-box; padding-top:7px; font-size:12px;}
                .footerList-inner{width:100%;}
                .footerList-inner2 {width:60%;}
                .footerList-inner2+.footerList-inner2 {width:40%;}
    .ceoInfo-w {display:block;}
        .ceoPhoto-w {margin:0 auto 20px; left:auto;}
    /* history */
    .historyListIText-sub {display:none;}
    .etcRow + .historyList-row {margin-top:36px;}
    /* 조직도 */
    .orgChartList-w {padding:85px 20px;}
   .orgChartList-cont {padding-left:250px;}
    .content-w-orgChart .contentArticle-w {font-size:16px; line-height:24px;}
    .orgChartList-valueCEO .orgChartList-label,
    .orgChartList-label,
    .orgChartList-text {font-size:16px;}
    .orgChartList-text {line-height:24px;}
    /* 오시는길 */
    .directionsList-w {margin-top:40px;}
    .content-w-directions .contentArticle-w {font-size:16px;}
    /* 장비임대사업부-건설장비보유현황 */
    .contentTitle, .contentTitle span {font-size:20px;}
    .tableImage-w {margin-top:40px; width:calc(100% + 25px);}
        .tableImage-cont {padding-right:25px;}
    .imgList-inner {padding-top:30px;}
    .rentalList-inner, .imgList-inner {max-width:calc(100% + 15px); width:calc(100% + 15px);}
    .rentalList-cont, [class^="imgList-cont"] {padding:15px 15px 0 0;}
    /* 컨테이너사업부-스크린골프/노래방 */
    .historyTitle {font-size:20px; padding-left:18px;}
    /* 컨테이너사업부-투명돔하우스 */
    .content-w-contain10 .contentArticle-w {padding:8% 5%;}
    /* 도장사업부-현황 */
    .paintList-inner {display:block;}
    /* 환경사업부-관로형튜브식 */
    .textNimgList-w {max-width:calc(100% + 20px); width:calc(100% + 20px); }
        .textNimgList-inner {padding-right:20px;}
    .textNimgList-cont .detailList-title {font-size:18px;}
    /* 환경사업부-소독기부품 */
    .lampList-w {margin-top:80px;}
    /* 게시판  */
    .boardList-w td span {font-size:14px;}

}

/* Mobile 버전 */
@media screen and (max-width:600px) {

    .contentVisual-img-w {padding-top:31.5% !important; border-radius:40px 0 0 0;}
    .content-w-main .contentVisual-img-w {padding-top:43% !important; }
    .sectionTitle,
    .sectionTitle-eng {font-size:28px;}
    .sectionTitle-bg {padding:2px 10px;}

    /* 컨테이너사업-운용대수현황 */
    .content-w-contain01 .contentVisual-img-w,
    .content-w-ceo .contentVisual-img-w,
    .content-w-history .contentVisual-img-w,
    .content-w-orgChart .contentVisual-img-w,
    .content-w-directions .contentVisual-img-w,
    .content-w-rental01 .contentVisual-img-w,
    .content-w-envi01 .contentVisual-img-w,
    .content-w-contact .contentVisual-img-w,
    .content-w-contactEnd .contentVisual-img-w,
    .content-w-contactPw .contentVisual-img-w,
    .content-w-notice .contentVisual-img-w,
    .content-w-noticeEnd .contentVisual-img-w,
    .content-w-main .contentVisual-img-w,
    .content-w-paint01 .contentVisual-img-w {padding-top:43%; }
        .contentVisual-img {width:100% !important; min-height:auto !important;}

    /* 메인 */
    .serviceList-text {font-size:15px; line-height:20px;}
    /* 공통 */
    .contentArticle-w {padding:50px 20px;}
    .contentVisual-img-w,
    .contentVisual-img {min-height:auto !important; max-height:none; width:100%;}
    /*.contentVisual-img-w {padding-top:43% !important; }*/
    /* 연혁 */
    .historyInfoText {font-size:18px; line-height:30px;}
    /* 조직도 */
    .orgChartList-w {padding:50px 20px;}
    .orgChartList-cont,
    .orgChartList-cont:first-of-type,
    .orgChartList-inner {padding-left:0; text-align:center;}
    .orgChartList-value {position:static; margin:0 0 15px 0;}
    .orgChartList-cont:first-of-type {}
    .orgChartList-text {margin:0 auto;}
    .orgChartList-valueCEO,
    .orgChartList-cont:first-of-type {margin:0 auto;}
    .orgChartList-valueCEO .orgChartList-label {margin-bottom:50px;}
    .orgChartList:after {left:50%;}
    .orgChartList-cont:first-of-type:after,
    .orgChartList-cont:after {display:none;}
    /* 장비임대사업부-건설장비보유현황 */
    .tableImage-w {display:block;}
        .tableImage-cont {width:100%; margin-top:20px;}
    /* 장비사업부-부속장비현황 */
    .rentalList-w {margin-top:20px;}
    .rentalList-inner {max-width:calc(100% + 15px); width:calc(100% + 15px);}
    .rentalList-cont {padding:15px 15px 0 0;}
    /* 컨테이너사업-리조트(스크린골프/노래방) */
    .content-w-contain08 .imgList-cont25 {width:50%;}
    .content-w-contain10 .contentArticle-w:before {width:200px;}
    /* 컨테이너사업부-투명돔하우스 */
    .content-w-contain10 .contentArticle-w:after {width:232px; height:162px;}
    .content-w-contain10 .imgList-cont25 {width:50%;}
    .dbdottDetail-w,
   .detailList-w {margin-top:80px;}
    /* 환경사업부 */
    .content-w-envi01 .imgList-cont33 {width:50%;}
    /* 환경사업부-관로형 튜브식 소독기 */
   .textNimgList-w {display:block; max-width:calc(100% + 20px); width:calc(100% + 20px); margin-top:80px;}
    .textNimgList-inner {width:100%; max-width:100%; margin-top:40px;}
    .textNimgList-inner:first-of-type {margin-top:0;}
    /* 환경사업부-수로형 */
    .content-w-envi06 .listRowType .detailList-image-w {width:100%;}
    .content-w-envi06 .listRowType .textNimgText-w {width:100%; border-radius:0 0 36px 36px;}
    .content-w-envi06 .listRowType .textNimgText-w:after {left:50%; top:0; margin-left:-15px;}
    /* 환경사업부-소형소독기 */
    .content-w-envi07 .imgList-cont33,
    .content-w-envi10 .imgList-cont33 {width:50%;}
    .detailList-wrap {padding-top:20px;}
    .dbdottDetail-inner {padding-top:9%;}
    /* 견적문의 */
    .contactForm-dash {font-size:20px; width:32px;}
    .contactForm-row {width:calc(100% + 32px);}
    .contactForm-cell {padding-right:32px;}
    .passwordCheck-label{font-size:20px; line-height:30px;}
        .passwordCheck-label br {display:block;}
    .passwordCheck-w .moduleBtn-inner {width:50% !important;}
        .passwordCheck-w button {min-width:100% !important;}
    .boardDetail-title {font-size:20px; margin-bottom:10px;}
    .boardDetail-text {font-size:14px; line-height:20px;}
    .boardDetail-writer {font-size:14px; margin-top:50px;}
    .userProfile-w {margin-top:10px;}
        .userProfile-text {font-size:14px; padding:0 10px;}
        .userProfile-text:after {height:12px; margin-top:-6px;}
    .boardList-w .roundBtn {font-size:20px;}
    /* 공지사항  */
    .content-w-notice table tr td:nth-of-type(2) span {padding:10px;} 
    .content-w-noticeEnd .moduleBtn-w {justify-content:flex-start; flex-wrap:wrap;}
    .moduleBtn-inner {}
    .content-w-noticeEnd .moduleBtn-inner .bdlineBtn{margin:20px 10px 0 0;}
    .content-w-noticeEnd .moduleBtn-w {display:block;}
    /* 모듈공통  */
    .imgList-cont33 {width:50%;}
    .imgList-cont6 {width:100%;}
    .imgList-cont {width:50%;}
}

/* Mobile 버전 */
@media screen and (max-width:440px) {
    /* 메인 */
    .mainInfo-w {font-size:14px; line-height:24px;}
    .serviceList {justify-content:flex-start;}
    .serviceList-cont {width:50%;}
    .paintList-w {padding-top:30px;}
        .paintList-cont {width:100%;}
            .paintList-cont:nth-of-type(1) img{width:222px; max-width:222px;}
            .paintList-cont:nth-of-type(2) img{width:283px; max-width:283px;}
            .paintList-cont:nth-of-type(3) img{width:248px; max-width:248px;}
            .paintList-cont:nth-of-type(4) img{width:173px; max-width:173px;}
    /*연혁*/
    .historyListText span{min-width:auto; font-size:14px; line-height:20px;}
    .historyList-date span {font-size:14px;}
    .historyInfoText {font-size:14px; line-height:22px;}
    .boardList-w table th {font-size:14px;}
    /* 견적문의  */
    .boardList-w .roundBtn {margin-right:0; font-size:16px !important; height:40px !important; line-height:30px !important; padding:0 10px !important;}
    .moduleBtn-w button {margin:0 10px; font-size:16px !important; height:40px !important; line-height:30px !important; padding:0 15px !important; font-weight:700 !important;}
    .moduleBtn-w .roundBtn {margin-left:0; min-width:80px;}
    
       
}
/* Mobile 버전 */
@media screen and (max-width:345px) {
    .contactTitle {font-size:24px;}
    .moduleBtn-w {justify-content: center !important;}
/*    .moduleBtn-w button {margin:0 10px; font-size:16px !important; height:40px !important; line-height:30px !important; padding:0 15px !important;}*/
    
    .boardDetail-inner {margin-top:30px; padding-bottom:30px;}


}